<!-- nav -->
<nav class="blog__nav bg-primary-light d-md-none">
    <div class="container d-flex justify-content-between align-items-center">
        <ul class="font-size-l font-size-lg-m h6-md d-flex py-lg-4 py-md-2">
            <li><a class="text-white d-block py-3" href="#">最新消息</a></li>
            <li><a class="text-white d-block py-3" href="#">特別企劃</a></li>
            <li><a class="text-white d-block py-3" href="#">新品上市</a></li>
            <li><a class="text-white d-block py-3" href="#">佈置小知識</a></li>
        </ul>
        <a href="#" class="d-block py-3">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-search.svg"
                alt="icon-search">
        </a>
    </div>
</nav>