
.from-group {
    input,textarea {
        border: 1px solid black;
        padding: 14px 16px;
        background-color: transparent;
        @include lg {
            padding: 8px 12px;
        }
    }
    .checkbox-group {
        margin-bottom: 42px;
        position: relative;
        @include lg {
            margin-bottom: 42px;
        }
        @include md {
            margin-bottom: 24px;
        }
        input {
            position: relative;
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                height: 14px;
                width: 14px;
                background: white;
                border: 1px solid #000;
                display: block;
                left: 0;
                top: 0;
            }
            &:checked::after {
                background: $primary;
                border: none;
            }
            &:checked label::after,::before {
                display: block;
            }
        }
        label::before {
            content: '';
            display: block;
            position: absolute;
            width: 3px;
            height: 3px;
            top: 9px;
            transform: skew(0deg,50deg);
            background: white;
            left: 7px;
        }
        label::after {
            content: '';
            display: block;
            position: absolute;
            width: 5px;
            height: 3px;
            left: 10px;
            top: 9px;
            background: white;
            transform: skew(0deg,-50deg);
        }
    }
    input[type=submit] {
        background: $primary;
        border: 0;
        &:hover {
            background: $primary-dark;
        }
    }
}
    