.pagination {
    font-size: $font-size-l;

    @include md {
        font-size: 11px;
    }

    .page-item {
        text-align: center;
        border: 1px solid $secondary;
        border-right: none;

        &:last-child {
            border-right: 1px solid $secondary;
        }
    }

    .page-link {
        display: block;
        padding: 10px 12px;
        color: $primary-dark;

        @include md {
            padding: $spacer-2;
        }

        &:hover {
            background: $primary-dark;
            color: white;
        }
    }
}