.products__nav {
    max-width: 1386px;
    width: 100%;
    margin: 0 auto;

    li {
        border: 1px solid #DCDCDC;
        border-top: none;
        border-bottom: none;
    }

    a {
        padding: 10px 0;
        position: relative;

        @include lg {
            padding: 16px 0;
        }

        @include md {
            padding: 8px 0;
            font-size: $font-size-s;
        }

        &::before {
            content: '';
            position: absolute;
            border-bottom: 8px solid $primary;
            width: 0;
            opacity: 0;
            bottom: 0;
            left: 0;
            transition: all ease .5s;

            @include md {
                border-bottom-width: 3px;
            }
        }

        &:hover::before {
            width: 100%;
            transition: all ease .5s;
            opacity: 1;
        }
    }

    .active>a::before {
        width: 100%;
        opacity: 1;
    }
}