.blog__nav {
    li {
        margin-right: 48px;

        @include lg {
            margin-right: 32px;
        }

        @include md {
            margin-right: 0;
        }
    }

    a:hover {
        opacity: .5;
    }
}

.blog__content {
    padding: 82px 0 156px 0;

    @include lg {
        padding: 40px 0 104px 0;
    }

    @include md {
        padding: 24px 0 56px 0;
    }

    &__item {
        margin-bottom: 60px;

        @include lg {
            margin-bottom: 32px;
        }

        @include md {
            margin-bottom: 26px;
        }

        &:last-child {
            margin-bottom: 100px;

            @include lg {
                margin-bottom: 104px;
            }

            @include md {
                margin-bottom: 39px;
            }
        }

        img {
            height: 300px;
            object-fit: cover;
        }

        &__title {
            a:hover {
                cursor: inherit;

                @include lg {
                    color: $primary;
                    cursor: pointer;
                }
            }
        }

        &__link {
            a {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    border-bottom: 3px solid $primary;
                    width: 0;
                    opacity: 0;
                    bottom: 0;
                    left: 0;
                    transition: 0.5s;
                }

                &:hover::before {
                    width: 100%;
                    transition: 0.5s;
                    opacity: 1;
                }
            }
        }
    }
}