.banner {
    background-image: url("../images/banner.jpg");
    @include bg-cover;
    height: 800px;

    @include md {
        height: 394px;
    }

    &__title {
        background: none;
        margin-top: 130px;
        @include text-shadow;

        @include md {
            margin-top: 15px;
            white-space: nowrap;
        }
    }
}

// 共用padding
.about,
.basic,
.design,
.recommend,
.contact {
    padding: 64px 0 80px 0;

    @include lg {
        padding: $spacer-10 0 $spacer-10 0;
    }

    @include md {
        padding: $spacer-8 0 $spacer-8 0;
    }
}

// 共用title
.title {
    font-size: $font-size-h3;
    font-weight: $font-weight-bold;
    margin-bottom: 60px;
    text-align: center;

    @include lg {
        font-size: $font-size-h4;
        margin-bottom: $spacer-8;
    }

    @include md {
        font-size: $font-size-h5;
        margin-bottom: $spacer-5;
    }
}


.about {
    @include lg {
        padding: auto 0 80px 0;

        li:nth-child(2) {
            order: -1;
        }

        li:nth-child(3) {
            order: -1;
        }
    }

    @include md {
        padding: auto 0 52px 0;
    }

    &__item {
        @include lg {
            padding-left: 60px;
            padding-right: 60px;
        }

        img {
            @include lg {
                width: 80px;
            }
        }
    }
}


.basic__item {
    font-size: 48px;

    @include lg {
        font-size: 28px;
    }

    img {
        width: 100%;
        height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    &__title {

        @include md {
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
        }

        h3 {
            transition: all ease .3s;
        }

        &:hover>h3 {
            transition: all ease .3s;
            color: $primary-light;
        }
    }
}


.design {
    background-image: url("../images/design-bg.jpg");
    @include bg-cover;
    width: 100%;
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__item {
        img {
            height: 450px;
            object-fit: cover;

            @include lg {
                height: 350px;
            }
        }

        a:hover>h3 {
            color: rgba(255, 255, 255, 0.5);
            transform: translateY(-5px);
        }

        a:hover>img {
            opacity: 1;
        }

        img {
            opacity: 0.8;
            transition: .5s;
        }

        &__title {
            font-size: 72px;
            transition: .5s;

            @include lg {
                font-size: $font-size-h4;
            }
        }
    }
}


.recommend {
    padding-bottom: 64px;

    a:hover {
        box-shadow: 0px 3px 10px 2px rgba(121, 121, 121, 0.226);
        transform: translateY(-5px);
    }

    .card-body {
        padding: 14px 16px;

        @include lg {
            padding: 16px;
        }
    }
}


.contact {
    &__container {
        max-width: 730px;
        width: 100%;
        margin: 0 auto;

        @include lg {
            max-width: 450px;
        }

        @include md {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}