*,
*::before,
*::after {
    box-sizing: border-box;
    letter-spacing: .1rem;
}

body {
    line-height: $line-height-base;
    font-family: 'Roboto', "Noto Sans TC", $font-family-base;
    font-size: $font-size-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-base * 0.8;
}

h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;

    @include lg {
        font-size: $font-size-h2;
    }

    @include md {
        font-size: $font-size-h4;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: all ease .3s;
}

input,
textarea,
select,
button {
    &:focus {
        outline: none;
    }
}

input,
textarea {
    -webkit-appearance: none; // Safari 和 Chrome，常用於 iOS 下移除內建樣式 
    -moz-appearance: none; // FireFox
    appearance: none;
    border-radius: 0;
}

input[type=submit] {
    cursor: pointer;
    transition: all ease .3s;
    font-size: $font-size-base;
}