// 載入英文字體 Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap');

// 載入中文字體 Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

/* css使用 */
// 預設的font-family
$font-family-base: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Microsoft JhengHei",
"Helvetica Neue",
Arial,
sans-serif;

// line-height
$line-height-base: 1.5; //24px

// font-size
$font-size-base: 1rem; // 16px

$font-size-h1: $font-size-base * 4; //64px
$font-size-h2: $font-size-base * 3; //48px
$font-size-h3: $font-size-base * 2.25; //36px
$font-size-h4: $font-size-base * 2; //32px
$font-size-h5: $font-size-base * 1.5; //24px
$font-size-h6: $font-size-base * 1.25; //20px

$font-size-l: $font-size-base * 1.125; // 18px
$font-size-m: $font-size-base; // 16px
$font-size-s: $font-size-base * 0.875; // 14px

// font-weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// color
$primary: #7A876C;
$primary-dark: #646D59;
$primary-light: #9dad8b;
$dark: #111619;
$light: #f7f7f7;
$secondary: #616161;
$transparent: transparent;



/* utility使用 */
// color
$colors: (primary: #7A876C,
	primary-dark: #646D59,
	primary-light: #9dad8b,
	dark: #111619,
	secondary: #616161,
	light: #f7f7f7,
	white: white,
	black: black,
	transparent: transparent);

// h1~h6
$h1-h6: (h1: $font-size-base * 4, //64px
	h2: $font-size-base * 3, //48px
	h3: $font-size-base * 2.25, //36px
	h4: $font-size-base * 2, //32px
	h5: $font-size-base * 1.5, //24px
	h6: $font-size-base * 1.25 //20px
);

// font-size
$font-sizes: (l: $font-size-base * 1.125, // 18px
	m: $font-size-base, // 16px
	s: $font-size-base * 0.875 // 14px
);

// font-weight
$font-weights: (normal: 400,
	medium: 500,
	bold: 700,
	bolder: 900);

// text-align
$text-aligns: (center: center,
	left: left,
	right: right);

// direction
$directions: (t: top,
	r: right,
	b: bottom,
	l: left);

// flex
$flex-properties: (start: flex-start,
	end: flex-end,
	center: center,
	around: space-around,
	between: space-between,
	baseline: baseline //stretch: stretch
);
$flex-directions: (row: row,
	column: column,
	row-reverse: row-reverse,
	column-reverse: column-reverse);

// display
$display: (flex: flex,
	block: block,
	inline: inline,
	inline-block: inline-block,
	none: none);

// width
$width: (100: 100%,
	50: 50%,
);